@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
body {
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: -ms-grid;
  display: grid;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background: url("/img/Livello_1.png");
  background-color: #f6f6f6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
}

.grid {
  width: 100%;
  max-width: 1150px;
  height: auto;
  margin: 0 auto;
  background-color: #00cc66;
}

.header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container #menu-checkbox {
  display: none;
}

.header-container nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 38px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header-container nav a {
  font-size: 12px;
  padding: 27px 0px;
  cursor: pointer;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #191919;
}

.header-info .text-info {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 240px 0 27px;
}

.header-info .text-info h2 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  max-width: 800px;
}

.header-info .text-info p {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  max-width: 585px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 270px;
  padding-top: 20px;
}

.header-info .text-info .btn {
  width: 34px;
  height: 22px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.second .nav {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f6f7;
}

.second .nav .left input[type="checkbox"] {
  position: absolute;
  left: -999em;
}

.second .nav .left input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 40px;
}

.second .nav .left input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
}

.second .nav .left input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  width: 1.2ex;
  height: 0.4ex;
  background: rgba(0, 0, 0, 0);
  top: 0.9ex;
  left: 0.4ex;
  border: 3px solid green;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.second .nav .left label {
  font-family: 'Quicksand Bold';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.second .nav .right p {
  background-color: #aa9b77;
  border: 1px solid #aa9b77;
  border-radius: 3px;
  padding: 20px 35px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.third .items {
  margin: 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third .items .unisex {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #424242;
  margin-right: 40px;
}

.third .items .line {
  width: 996px;
  border-bottom: 2px solid #cccccc;
}
/*# sourceMappingURL=style.css.map */